<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title> Daily Report </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	{% for user in posts %}
		<p>
			{% if 'created' in posts[user] %}
				{{ user }} has {{ posts[user]['created'] }} new posts {% if 'modified' in posts[user] %}and edited {{ posts[user]['modified'] }} posts{% endif %}.
			{% else %}
				{{ user }} has edited {{ posts[user]['modified'] }} posts.
			{% endif %}
			
		</p>
	{% endfor %}
	<div>
		{% if posted==0 %}
			You haven't posted anything today. Please find some time to create a post.
		{% endif %}
</body>

</html>
