<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title> Export Job </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
			rel="stylesheet" 
			integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" 
			crossorigin="anonymous">
</head>
<body class="bg-primary" style="--bs-bg-opacity: .3;padding-top:50px;">
	
	<div id="posts">
		<p>Hi, sir</p>
		<p>Greetings of the day. Hope you are doing well. Here is your requested zip file containing all your images along with a CSV file.</p>
		<p>Thanks and Regards</p>

	</div>
	
</body>

</html>
