{% raw %}
<div id="nav-vue-app">


	<div class="modal fade" id="createPostModal" tabindex="-1" aria-labelledby="createPostModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
		  <div class="modal-header">
			<h1 class="modal-title fs-5" id="createPostModalLabel">Create New Post</h1>
			<button type="button" class="btn-close" id="modal-closer" data-bs-dismiss="modal" aria-label="Close"></button>
		  </div>
		  <div class="modal-body">
				
			<form id="newPost" ref="newPost">
				<div class="mb-3">
					<input class="form-control" id="newPostTitle" type="text" placeholder="Title" name="title" aria-label="title for new post">
				</div>
				
				<div class="mb-3">
				  <input class="form-control" type="file" id="newPostImage" name="image" accept="image/*">
				</div>
				
				<div class="mb-3">
				  <textarea class="form-control" id="description" name="description" placeholder="Caption" aria-label="With textarea"></textarea>
				</div>
				
			</form>
			
		  </div>
		  <div class="modal-footer">
			<button type="button" onclick="document.getElementById('newPost').reset()" class="btn btn-outline-danger" id="resetNewPostForm">Reset</button>
			<button type="button" class="btn btn-outline-info">Preview</button>
			<button type="button" class="btn btn-outline-primary" @click="createNewPost">Save changes</button>
		  </div>
		</div>
	  </div>
	</div>
	
	
	<div class="modal fade" id="searchResultModal" tabindex="-1" aria-labelledby="searchResultModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
		  <div class="modal-header">
			<h1 class="modal-title fs-5" id="searchResultModalLabel">Search Results</h1>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		  </div>
		  <div class="modal-body list-group bg-primary" style="--bs-bg-opacity: .3;">
		  
			  <a v-for="sr in searchResult" :href="'/user/'+sr.username" class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col" style="max-width:50px;">
						<img :src="sr.profile_pic" class="rounded-circle" style="width:40px;height:40px;" alt="Couldn't load">
					</div>
					<div class="col">
						@{{sr.username}} {{sr.name}}
					</div>
				</div>
			  </a>
			
		  </div>
		</div>
	  </div>
	</div>
	
	
	<header class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
	  <nav class="container-fluid">
	  
		<a class="navbar-brand" href="/">Blog-Lite</a>
		
		
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a :class="'nav-link '+activeState" :aria-current="isActive" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  style="cursor: pointer;"
							data-bs-toggle="modal" data-bs-target="#createPostModal">
					+ Create
					</a>
				</li>
			</ul>
		</div>
		
		<div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
			<form class="d-flex" role="search">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" v-model="searchTerm">
				<button class="btn btn-outline-success" type="submit" @click.prevent="search" 
						data-bs-toggle="modal" data-bs-target="#searchResultModal">
					Search
				</button>
			</form>
		</div>
		
		<div class="collapse navbar-collapse justify-content-end text-end" id="navbarCollapse">
			<div class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					<img :src="profile_pic" class="rounded-circle" style="width:25px;height:25px;" alt="Couldn't load">
					&nbsp;&nbsp;
					{{username}}
			  </a>
			  <ul class="dropdown-menu dropdown-menu-end">
				<li><a class="dropdown-item" :href="'/user/'+username">Profile</a></li>
				<li><a class="dropdown-item" href="/settings">Settings</a></li>
				<li><hr class="dropdown-divider"></li>
				<li><a class="dropdown-item" @click="logout" style="cursor: pointer;">Logout</a></li>
			  </ul>
			</div>
		</div>
		
	  </nav>
	</header>
</div>

{% endraw %}